server:
  port: 9000
spring:
  application:
    name: "cards"
  profiles:
    active: "prod"
  datasource:
    url: jdbc:mysql://localhost:3308/cardsdb
    username: root
    password: root

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  sql:
    init:
      # to always initialize the database schema on startup
      mode: always
  config:
    import: "optional:configserver:http://localhost:8071/"
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    # on shutdown de-register service from eureka server, but it is not recommended to use it in production, because it can cause issues with load balancer and service discovery
    shutdown:
      access: unrestricted
  # info
  info:
    env:
      enabled: true

eureka:
  instance:
    # to register service with IP address instead of hostname, useful in docker environment. Hostname is used with DNS mapping.
    preferIpAddress: true
  client:
    fetchRegistry: true # to fetch registry from eureka server
    registerWithEureka: true # to register this service in eureka server
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "cards"
    description: "Eazy Bank Cards Application"
    version: "1.0.0"

