spring:
  application:
    name: "configserver"
  profiles:
    # active: native
    active: git
  cloud:
    # configuration sources
    config:
      server:
        # native:
          # search-locations: "classpath:/config"
          # search-locations: "file:///Users//eazybytes//Documents//config"
        git:
          uri: "https://github.com/Reysanor/eb-microservices-config.git"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true
  # RabbitMQ configuration for Spring Cloud Bus - message broker to refresh config in runtime on all services
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"


management:
  endpoints:
    web:
      exposure:
        include: "*"
  # Enable health checks - readiness (ready to receive network traffic) and liveness (service is running)
  #Using Spring Boot Actuator Health Indicators - actuator/health/readiness and actuator/health/liveness  endpoints
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  # Enable health probes endpoint
  endpoint:
    health:
      probes:
        enabled: true

encrypt:
  key: "45D81EC1EF61DF9AD8D3E5BB397F9"

server:
  port: 8071
