spring:
  application:
    name: "configserver"
  profiles:
    # active: native
    active: git
  cloud:
    # configuration sources
    config:
      server:
        # native:
          # search-locations: "classpath:/config"
          # search-locations: "file:///Users//eazybytes//Documents//config"
        git:
          uri: "https://github.com/Reysanor/eb-microservices-config.git"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

# config refresh in runtime – spring cloud config react to changes in repo
# spring boot actuator – give /actuator/ with endpoints.
# /refresh – refresh event.
# /busrefresh – refresh event connect by message brokers like kafka or rabbitmq
# spring cloud bus - link services with message brokers
management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

encrypt:
  key: "45D81EC1EF61DF9AD8D3E5BB397F9"

server:
  port: 8071
